﻿<div class="jumbotron adminHead">
    <h4>Acciones rapidas</h4>
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Crear usuario", "NewUser", "Admin", null, new { @class="btn btn-info" })
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Replicar datos", "Sync", "Admin", null, new { @class = "btn btn-warning" })
        </div>
    </div>
</div>
<div class="jumbotron adminHead">
    <div class="row">
        <div class="col-lg-6">
            <h3>Registro de usuarios</h3>
            <em>IFRAME INPUT PENDIENTE</em>
            <br/>
            <a href="#block" id="blockUser" class="btn btn-danger disabled"> Bloquear</a>
            <a href="#allow" id="allowUser" class="btn btn-success disabled"> Permitir</a>
            <a href="#edit" id="cambio" class="btn btn-default disabled"> Modificar contraseña</a>
            <a href="#change" id="saveUserReport" class="btn btn-default disabled"> Guardar registro</a>
        </div>
        <div class="col-lg-6">
            <h3>Registro de Permisos</h3>
            <em>IFRAME INPUT PENDIENTE</em>
            <br/>
            <a href="#block" id="managerPriv" class="btn btn-danger disabled"> Editar privilegios</a>
            <a href="#allow" id="savePrivReport" class="btn btn-success disabled"> Guardar registro</a>
        </div>
    </div>
</div>

