﻿@using SubITS.Models.Usermod
@model User_gen
@{List<SelectListItem> listSys = new List<SelectListItem>();
listSys.Add(new SelectListItem{Text = "Supervisor del Sistema",Value = "1",Selected = true});
listSys.Add(new SelectListItem{Text = "Operador de kit",Value = "2"});
listSys.Add(new SelectListItem{Text = "Cuenta de invitado",Value = "3"});
}
@Scripts.Render("~/bundles/makeUserValidator")
<div class="jumbotron adminHead">
    <div class="row">
        <div class="col-lg-8">
            @using (Html.BeginForm("Make","Admin",FormMethod.Post)) {
            <table align="center" class="nonText" style="color: white;">
                <tr>
                    <td>(*)Nuevo usuario:</td>
                    <td>@Html.TextBoxFor(j => j.username, new { @class = "form-control", id = "usermod", @placeholder = "Username", @maxlength = 30 })</td>
                    <td><img src="~/Image/status/icon2.png" id="useralert" height="20" style="display: none;"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.CheckBoxFor(j => j.secretPass, new { id = "passmodifier" }) Establecer una contraseña personal
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.PasswordFor(j => j.secretname, new { @class = "form-control", @placeholder = "Password", @maxlength = 30, id = "passmod", @style = "display:none;" })</td>
                    <td><img src="~/Image/status/icon2.png" id="pswalert" height="20" style="display:none;" /></td>
                </tr>
                <tr>
                    <td>Nombre:</td>
                    <td>@Html.TextBoxFor(j => j.nombre, new { @class="form-control",id="names",@placeholder="First-name" })</td>
                    <td><img src="~/Image/status/icon2.png" id="namealert" height="20" style="display:none;" /></td>
                </tr>
                <tr>
                    <td>Apellido:</td>
                    <td>@Html.TextBoxFor(j => j.apellido, new { @class = "form-control", id = "ape",@placeholder="Secondary-name" })</td>
                    <td><img src="~/Image/status/icon2.png" id="apellidoalert" height="20" style="display:none;" /></td>
                </tr>
                <tr>
                    <td>Telefono:</td>
                    <td>@Html.TextBoxFor(j => j.phone,new { @class="form-control",id="phonemod",@maxlength=10,@placeholder="Phone Number" })</td>
                    <td><img src="~/Image/status/icon2.png" id="phonealert" height="20" style="display:none;" /></td>
                </tr>
                <tr>
                    <td>Establecer Rol:</td>
                    <td>@Html.DropDownListFor(j => j.roleSystem,listSys,new { @class="form-control" })</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Modo de activacion:</td>
                    <td>@Html.RadioButtonFor(j => j.modalSystem,false) En espera<br/>
                    @Html.RadioButtonFor(j => j.modalSystem, true) Inmediata</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Correo Personal:</td>
                    <td>@Html.TextBoxFor(j => j.mailfrom,new { @class="form-control",@maxlength=60,@placeholder="Email here",id="emailmod" })</td>
                    <td><img src="~/Image/status/icon2.png" height="20" id="emailalert" style="display:none;" /></td>
                </tr>
                <tr>
                    <td>Observacion Personal:</td>
                    <td><input type="checkbox" value="1" id="addcommentary"/> Añadir una observacion personal</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.TextAreaFor(j => j.observation,new { @class="form-control",@rows=4,@placeholder="Observation here...",@maxlength=300,id="obse",style="display:none;" })</td>
                </tr>
            </table>
            }
        </div>
        <div class="col-md-4">
            <table class="nonText">
                <tr id="getdisplay" class="alert alert-warning" style="display: none;">
                    <td><img src="~/Image/status/icon2.png" height="50"/></td>
                    <td><p class="smText" id="inside">INPUT INSIDE</p></td>
                </tr>
            </table>
        </div>
    </div>
</div>

