﻿@using SubITS.Models.Message

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#3b84bd">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#3b84bd">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#3b84bd">
    <title>@ViewBag.Title - FUNCDEPLOY App</title>
    <link rel="shortcut icon" href="~/Image/favicon.png"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/sysT")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Image/logo.png" height="50"/>
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["usw"] != null)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Etiquetado", "", "CodeGex", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Administracion", "", "Admin", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Ayuda", "Index", "Help", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Cerrar sesion", "Logout", "Login", new { area = "" }, null)</li>
                        <li><a href="#QR" id="codeAccess" title="Codigo de un solo uso" data-toggle="modal" data-target="#scan_now"><img src="~/Image/android.png" height="22"/></a></li>
                    </ul>
                }
            </div>
        </div>
    </div>
    @if (Request["error"] != null)
    {
        <div id="alert_dialog" class="modal fade" role="dialog" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Error de Operacion</h4>
                    </div>
                    <div class="modal-body">
                        @{ ErrorQA namYctm = new ErrorQA(); }
                        <p>@namYctm.getError()</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
                            }
                            <div id="scan_now" class="modal fade" role="dialog" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4>Codigo de un Solo uso</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p id="setCode" style="display: none;" class="alert alert-info">Recovery quick session setup...</p>
                                            <div id="getDivCode">
                                            @{SubITS.Models.PosLoader.Generate pop = new SubITS.Models.PosLoader.Generate();
                                                bool existe = File.Exists(Server.MapPath("~/Image/tempqr/QR" + pop.getQRSession() + ".bmp"));
                                                string datos = "/SubITS/Image/tempqr/QR" + pop.getQRSession() + ".bmp";  }
                                            @if (existe)
                                            {
                                                <img src="@datos" height="160" style="position: center;"/>
                                                <label>Por favor escanee su nuevo codigo de acceso utilizando la siguiente aplicación de android <strong>FDSCAN MODULE</strong> para sincronizar su acceso con su telefono e integrar la funcionalidad con nuestro sistema, si no posee dicha aplicación descargelo ahora</label>
                                                <p class="smText"><em>Recuerda que este codigo es de un solo uso, unico e intransferible</em></p>
                                            } else
                                            {
                                                <div class="alert alert-warning">
                                                <table>
                                                    <tr>
                                                        <td><img src="~/Image/block.png" height="60"/></td>
                                                        <td>Ops...al parecer el codigo de acceso ya fue ingresado o supero el tiempo limite de espera, si no ha iniciado sesion en la aplicacion movil por favor haga clic en 'Obtener Codigo' para recuperarlo</td>
                                                    </tr>
                                                </table>
                                                </div>
                                            }
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            @if (existe)
                                            {
                                                @Html.ActionLink("Instalar","installnow","",null,new { @class="btn btn-success" });
                                            } else
                                            {
                                                @Html.ActionLink("Obtener codigo", "QReset_module", "Login", null, new { @class = "btn btn-default", id = "newQuickCode" })
                                            }
                                            <a href="#" class="btn btn-default" data-dismiss="modal">Cerrar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
    <div class="container body-content">
        <div id="manzana" class="alert alert-info" style="display: none;">
            <table>
                <tr>
                    <td><img id="imaicon" height="30" src="~/Image/status/icon0.png"/></td>
                    <td><label id="msginfo">INPUT HERE</label><a href="#" id="msgclose" style="text-align: right;" class="alert alert-link">&times;</a></td>
                </tr>
            </table>
        </div>
        @{ String msg = new ErrorQA().getInfo(); }
        @if (msg!=null)
        {
            <script type="text/javascript">$("div#manzana").css("display", "inherit");
                $("label#msginfo").html("@msg");
                @switch(new ErrorQA().getLevel()){
                    case 0: @:$("div#manzana").attr("class", "alert alert-info");
                        @:$("img#imaicon").attr("src", "/SubITS/Image/status/icon0.png");
                        break;
                    case 1: @:$("div#manzana").attr("class", "alert alert-success");
                    @:$("img#imaicon").attr("src", "/SubITS/Image/status/icon1.png");
                        break;
                    case 2: @:$("div#manzana").attr("class", "alert alert-warning");
                    @:$("img#imaicon").attr("src", "/SubITS/Image/status/icon2.png");
                        break;
                    case 3: @:$("div#manzana").attr("class", "alert alert-danger");
                    @:$("img#imaicon").attr("src", "/SubITS/Image/status/icon3.png");
                        break;
                }
            </script>
        }
        @if (Session["usw"]!=null) {
        <div class="jumbotron" id="alertTab" style="display: none;">
            <div class="row">
                <h4>Historial de actividades</h4>
                <div class="col-sm-5">
                    @foreach (System.Data.DataRow ponle in new SubITS.Models.Report.GenerarReporteActual().gargara().Rows) {
                    <p class="smText">Entregas totales: @ponle[0]</p>
                    <p class="smText">Devoluciones totales: @ponle[1]</p>
                    <p class="smText">Ultima entrega: @ponle[2]</p>
                    }
                </div>
                <div class="col-sm-5">
                    <h4>Alertas del Sistema</h4>
                    <iframe src="/SubITS/ReportStats/TabAlert" height="100" width="600" style="border-style:none;" id="alertab"></iframe>
                    <br />
                    <a href="#gen" class="btn btn-success" id="newAlert" data-toggle="modal" data-target="#create_alert"><img src="~/Image/add.png" height="15"/>&nbsp;Crear alerta</a>&nbsp;
                    <a href="#rep" class="btn btn-default disabled" data-toggle="modal" data-target="#response" id="resto">Consultar</a>
                </div>
            </div>
        </div>
        <hr/>
        <input type="button" value="Mostrar historial >>" style="position: center;" class="btn btn-default" id="alertButton" />
        }
        @RenderBody()
        <!-- Ingresar esta informacion de advertencia solo para el servidor de emergencia -->
        <table align="center" class="alert alert-warning">
            <tr>
                <td><img src="~/Image/status/icon2.png" height="25" /></td>
                <td><p class="smText">ATENCION: Estas conectado al servidor de emergencia de FUNCDEPLOY, procure usar con precaucion este servicio mientras se restablece el servidor definitivo</p></td>
            </tr>
        </table>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FUNCDEPLOY App</p>
        </footer>
    </div>
    <div id="create_alert" class="modal fade" role="dialog" style="display: none;">
        @RenderPage("~/Views/_ToolCreateAlert.cshtml");
    </div>
    <div id="response" class="modal fade" role="dialog" style="display: none;">
        @RenderPage("~/Views/_ToolAnswer.cshtml");
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
