﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        @RenderSection("head", required: false)
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/target_css")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        @RenderBody()
    </body>
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/tabcommand")
@RenderSection("scripts", required: false)
</html>
