﻿@model System.Web.Mvc.HandleErrorInfo
@{ ViewBag.Title = "Error Catastrofico";}
<div class="jumbotron">
    <div class="alert alert-danger">
        <h2 class="text-danger">Error del Sistema IIS</h2>
        <p class="smText">El servidor base acaba de sufrir una "descompostura codificada", nuestros agentes estan trabajando en ello.</p>
    </div>
</div>
