﻿@using System.Data
@using SubITS.Models.Report
@{ GenerarReporteActual actual = new GenerarReporteActual(); }
<div class="modal-dialog">
    @using (Html.BeginForm("Nueva_alerta", "", FormMethod.Post))
    {
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="titleName">Crear alerta</h4>
        </div>
        <div class="modal-body">
                    <div id="alert0" style="display: none;"><p class="alert alert-warning" id="msgMin">Especifique al menos un producto o codigo</p></div>
                    <table class="nonText" align="center">
                        <tr>
                            <td>Producto afectado:</td>
                            <td>@Html.TextBox("productOfCode", null, new { @class = "form-control", @maxlength = 50, id = "nameProducto_busqueda", @autocomplete = "on", @placeholder = "Nombre del producto" })</td>
                        </tr>
                        <tr>
                            <td>Buscar por</td>
                            <td>
                                @Html.RadioButton("buscar", false, true, new { id = "option0" }) Nombre&nbsp;
                            @Html.RadioButton("buscar", true,false, new { id = "option1" }) Codigo
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="button" class="btn btn-default" id="searchVol" disabled="disabled" value="Validar" /></td>
                    </tr>
                </table>
            @if (Session["usw"] != null)
            {
                <table class="nonText" align="center">
                    <tr>
                        <td>Alerta:</td>
                        <td>
                            <select class="chosen-select" name="tipoAlerta">
                                <optgroup label="Tipo de alerta">
                                    @foreach (DataRow tipo in actual.cargarAlerta().Rows)
                                    {
                                        <option value="@tipo[0]">@tipo[1]</option>
                                    }
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Descripcion:</td>
                        <td>@Html.TextArea("description", null, new { @class = "form-control", @maxlength = 600, @rows = 5, @placeholder = "Brief description here..." })</td>
                    </tr>
                    <tr>
                        <td>Gravedad:</td>
                        <td>
                            <select class="chosen-single" name="levelAlerta">
                                <optgroup label="Nivel de gravedad">
                                    <option value="0">Información - [0]</option>
                                    <option value="1">Atención - [1]</option>
                                    <option value="2">Grave - [2]</option>
                                    <option value="3">Critico - [3]</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.CheckBox("sendToMail", false, new { id = "tomail", value = "true" }) Replicar alerta por tu correo personal (Opcional)</td>
                    </tr>
                </table>
                <script type="text/javascript">
                @{ int count = actual.cargarListado_prod().Rows.Count; }
                    var productos = new Array(@count);
                    var codigos = new Array(@count);
                    @{int m = 0;}
                    @foreach (DataRow arreglo1 in actual.cargarListado_prod().Rows)
                {
                    @:productos[@m] = "@arreglo1[1]";
                                        @:codigos[@m] = "@arreglo1[0]";
                                        m++;
                }
                </script>
    }
            <hr/>
            <div class="alert alert-warning">
                <p class="smText">Por favor sea especifico al crear una alerta del sistema ya que el mensaje sera visible para todos los usuarios especialmente a supervisores y administradores, utilize esta herramienta solo para los fines correspondientes</p>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Crear alerta" class="btn btn-success" id="createAlertModule" disabled="disabled" />
            <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
    }
</div>