﻿<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("Answer_alert","",FormMethod.Post)) {
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="titleName">Responder alerta</h4>
        </div>
        <div class="modal-body">
            <table align="center" style="background-color:dimgrey; color: white;">
                <tr>
                    <td>ID:</td>
                    <td>@Html.TextBox("codename",null,new { @class="form-control",@readonly="readonly",id="codehere" })</td>
                    <td>Responsable:</td>
                    <td>@Html.TextBox("name", null, new { @class = "form-control", @readonly = "readonly", id = "namehere" })</td>
                </tr>
            </table>
            <hr/>
            <h4>Descripcion de la alerta</h4>
            <p class="alert alert-info smText" id="setDesc"></p>
            <table align="left">
                <tr>
                    <td></td>
                    <td>@Html.CheckBox("resend", false, new { id = "renviarCorreo",value="true" }) Enviar revision de la alerta al responsable</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.TextArea("txtDetalle",null,new { @maxlength=600,@rows=5,@class="form-control",@placeholder="Message Here...",id="momDepo" })</td>
                </tr>
                <tr>
                    <td>Marcar para:</td>
                    <td>@Html.RadioButton("marcTO",0,true) Archivar<label title="Este modo permitira extender esta alerta por 30 dias sin embargo la persona debera Confirmar o Eliminar de forma manual para establecer su alerta ademas la persona se arriesga con un bloqueo por omision si no cumple con el plazo establecido en el sistema">[?] </label>
                    @Html.RadioButton("marcTO",1,false) Confirmar<label title="Este modo confirma que se ha aplicado la solicitud por la persona marcandolo como final de la solicitud impidiendo su total modificacion">[?] </label>
                    @Html.RadioButton("marcTO",2,false) Eliminar<label title="Este modo elimina de forma inmediata la alerta confirmandola como 'Alerta erronea o incoherente'">[?]</label></td>
                </tr>
            </table>
            <br/>
            <p>Tenga en cuenta que todas las alertas se eliminaran cuando haya sobrepasado mas de 15 dias de antiguedad</p>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-success" value="Aplicar" id="submitAnswer" disabled="disabled"/>
            <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
        }
    </div>
</div>