﻿@model SubITS.Models.Recovery_Data
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(255, 142, 19); color: white;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><img src="~/Image/key.png" height="30" />&nbsp;Asistente para Cambiar Contraseña</h4>
        </div>
        @using (Html.BeginForm("Password_setup", "", FormMethod.Post))
            {
            <div class="modal-body" style="background-color: rgb(168, 93, 11); color: white;">
                <div class="row" id="mode0">
                    <p>Utilize este asistente para cambiar la contraseña de su sesion actual, para una mayor seguridad recomendamos utilizar con numeros, simbolos mayusculas o minusculas para reforzar su seguridad</p>
                    <div class="alert-warning" style="font-size: 10px;">Tenga en cuenta que su sesion se cerrara cuando cambie la contraseña</div>
                    <br />
                    <div class="col-md-8">
                        <table align="center">
                            <tr>
                                <td>@Html.PasswordFor(model => model.passCurrent, new { @class = "form-control", @placeholder = "Old Password", id = "oldP", @maxvalue = 20 })</td>
                            </tr>
                            <tr>
                                <td>@Html.PasswordFor(model => model.passTemp, new { @class = "form-control", @placeholder = "New Password", id = "newP", @maxvalue = 20 })</td>
                            </tr>
                            <tr>
                                <td>@Html.Password("confP", null, new { @class = "form-control", @placeholder = "Retype Password", id = "retypeP", @maxvalue = 20 })</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-4" style="background-color: white; color: black;">
                        @Html.Label("lal", "Nivel de Seguridad")
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:0%" id="ProgressPass">
                                Muy Debil
                            </div>
                        </div>
                        <label id="noold"></label>
                        <br />
                        <label id="noretype"></label>
                    </div>
                </div>
                <div class="row" id="mode1" style="display: none;">
                    <em>Validating session and apply changes...</em>
                </div>
            </div>
                <div class="modal-footer" style="background-color: rgb(255, 142, 19);">
                    <input type="submit" class="btn btn-warning" value="Aplicar cambios" disabled="disabled" id="applyNewP" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
        }
    </div>
</div>

