﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
a.killme{
    color: blue;
}
a.killme:hover{
    background-color: rgb(27, 58, 180);
    color: white;
}
a.killme:active{
    background-color: lightgray;
    color: white;
}

div.adminHead{
    background-color: rgb(107, 141, 160);
}

tr.critico{
    background-color: rgb(254, 154, 154);
    color: red;
}
tr.atencion{
    background-color: rgb(212, 170, 134);
}
tr.regular{
    background-color: rgb(208, 195, 132);
}
tr.bien{
    background-color: rgb(182, 226, 180);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

p.smText{
    font-size: 14px;
}
table.nonText{
    font-size: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
