﻿body{
    background-color: rgb(220, 220, 220);
    padding-left: -20px;
    padding-top: -70px;
}
table td.redTbody {
    background: rgba(240,211,211,1);
    background: -moz-linear-gradient(top, rgba(240,211,211,1) 0%, rgba(163,130,101,1) 76%, rgba(163,130,101,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,211,211,1)), color-stop(76%, rgba(163,130,101,1)), color-stop(100%, rgba(163,130,101,1)));
    background: -webkit-linear-gradient(top, rgba(240,211,211,1) 0%, rgba(163,130,101,1) 76%, rgba(163,130,101,1) 100%);
    background: -o-linear-gradient(top, rgba(240,211,211,1) 0%, rgba(163,130,101,1) 76%, rgba(163,130,101,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,211,211,1) 0%, rgba(163,130,101,1) 76%, rgba(163,130,101,1) 100%);
    background: linear-gradient(to bottom, rgba(240,211,211,1) 0%, rgba(163,130,101,1) 76%, rgba(163,130,101,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0d3d3', endColorstr='#a38265', GradientType=0 );
    color: rgb(78, 78, 78);
}
table td.blueTbody{
    background: rgba(211,219,242,1);
    background: -moz-linear-gradient(top, rgba(211,219,242,1) 0%, rgba(125,173,179,1) 76%, rgba(125,173,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(211,219,242,1)), color-stop(76%, rgba(125,173,179,1)), color-stop(100%, rgba(125,173,179,1)));
    background: -webkit-linear-gradient(top, rgba(211,219,242,1) 0%, rgba(125,173,179,1) 76%, rgba(125,173,179,1) 100%);
    background: -o-linear-gradient(top, rgba(211,219,242,1) 0%, rgba(125,173,179,1) 76%, rgba(125,173,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(211,219,242,1) 0%, rgba(125,173,179,1) 76%, rgba(125,173,179,1) 100%);
    background: linear-gradient(to bottom, rgba(211,219,242,1) 0%, rgba(125,173,179,1) 76%, rgba(125,173,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3dbf2', endColorstr='#7dadb3', GradientType=0 );
    color: rgb(78, 78, 78);
}
table td.redTcontent{
    background-color: rgb(81, 34, 18);
    color: white;
    font-size: 10px;
}
table td.blueTcontent{
    background-color: rgb(35, 49, 82);
    color: white;
    font-size: 9px;
}