﻿@model SubITS.Models.Recovery_Data
<h2>Inicio de Sesi&oacute;n</h2>
<div class="jumbotron">
    @using (Html.BeginForm("onLogon", "Login", FormMethod.Post))
    {
        <p>Por favor ingrese el nombre de usuario y contrase&ntilde;a para el resto de las funciones</p>
        <table style="padding: 10 10 10 10" align="center">
            <tr>
                <td>@Html.TextBoxFor(penca => penca.userTemp, new { @placeholder = "Nombre de usuario", @class = "form-control", id = "namex", @maxlength = 20 })</td>
            </tr>
            <tr>
                <td>@Html.PasswordFor(penca => penca.passTemp, new { @placeholder = "Contraseña", @class = "form-control", id = "passx", @maxlength = 20 })</td>
            </tr>
            <tr>
                <td style="font-size: 10px; color: rgb(16, 96, 16)">@Html.ActionLink("¿Olvido su contraseña?, inicie el asistente de recuperacion aqui", "Recovery", "Login", new { area = "" }, null)</td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-primary btn-lg" value="Iniciar Sesion" id="btnOn" disabled="disabled" /></td>
            </tr>
        </table>
    }
</div>