﻿@model SubITS.Models.Recovery_Data
<h2>Asistente de Recuperacion</h2>
<div class="jumbotron">
    <p>Ya casi hemos terminado, solo necesitamos que realizes una ultima operacion para recuperar tu acceso</p>
    <em style="font-size: 13px;">Por favor ingrese una nueva contraseña de acceso para finalizar la recuperacion</em>
    @using (Html.BeginForm("Reconf_setup", "Login", FormMethod.Post))
    {
        <div class="alert-info" style="font-size: 12px; padding-left: 20px; padding-right: 20px;" id="alertapico"></div>
        <table align="center">
            <tr>
                <td>@Html.Label("nom", "Nueva Contraseña:")</td>
                <td>@Html.PasswordFor(model => model.passTemp, new { @placeholder = "New Password", @maxlength = 20, @class = "form-control", id = "tmpP" })</td>
            </tr>
            <tr>
                <td>@Html.Label("raz", "Repetir Contraseña:")</td>
                <td>@Html.Password("pswRT",null, new { @class = "form-control",@placeholder="Retype Password", @maxlength = 20, id = "tmpT" })</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Cambiar Contraseña" id="resetPass" class="btn btn-warning" disabled="disabled" />&nbsp;@Html.ActionLink("Cancelar", "Index", new { Controller = "Login" }, new { @class = "btn btn-default" })</td>
            </tr>
        </table>
    }
</div>
