﻿@model SubITS.Models.Recovery_Data
<h2>Asistente de Recuperacion</h2>
<div class="jumbotron">
    <p>Para recuperar su cuenta necesita ingresar la siguiente informaci&oacute;n, procure que toda su informacion sea veridica y la razon del porque recuperarla.</p>
    <div class="alert-danger" style="font-size: 12px; padding-left: 20px; padding-right: 20px;">NOTA: Este procedimiento solo lo puede realizar una vez, si es tu segunda vez deberas contactar personalmente con el administrador de soporte</div>
    @using (Html.BeginForm("RZ_post", "Login", FormMethod.Post)) { 
    <div class="alert-warning" style="font-size: 12px; padding-left: 20px; padding-right: 20px;" id="alertapico"></div>
    <table align="center">
        <tr>
            <td>Nombre:</td>
            <td>@Html.TextBoxFor(model => model.nameID,new { @class = "form-control", @maxlength = 100,id = "nameGet" })</td>
        </tr>
        <tr>
            <td>@Html.Label("nom", "Correo:")</td>
            <td>@Html.TextBoxFor(model => model.email, new { @placeholder="example@personal.cl",@maxlength=50,@class="form-control",id="runtsa" })</td>
        </tr>
        <tr>
            <td>@Html.Label("raz","Razon:")</td>
            <td>@Html.TextAreaFor(model => model.razorMode, new { @class="form-control",@maxlength=300,@rows=5,id="razon" })</td>
        </tr>
        <tr>
            <td></td>
            <td><div class="checkbox" style="font-size: 10px;">@Html.CheckBoxFor(model => model.confirm,new { @value=true,id="ontrue" }) Acepto recuperar mi cuenta bajo mi responsabilidad</div></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Solicitar recuperacion" id="okconfirm" class="btn btn-warning" disabled="disabled"/>&nbsp;@Html.ActionLink("Cancelar", "Index", new { Controller = "Login" }, new { @class="btn btn-default" })</td>
        </tr>
    </table>
    }
</div>