﻿@{Layout = "~/Views/Shared/_TableLayout.cshtml";}
@using SubITS.Models
@model Devo_Reports
@{ Devo_Reports puta = new Devo_Reports(); bool expired = Convert.ToBoolean(Request["ex"]);
    byte putas = byte.Parse(Request["st"]);}
<h3>Modulo de devolucion</h3>
<p class="alert alert-info smText">Estimado, debe confirmar el estado del producto en el sistema por usted, recuerde que es de exclusiva responsabilidad ingresar su confirmacion</p>
@if (expired)
{
    <p class="alert alert-success smText">Esta entrega expiro y debe ser notificado sin excepcion</p>
}
<table align="center" style="background-color: white;">
    @using (Html.BeginForm("Set_output","CodeGex",FormMethod.Post)) {
    <tr>
        <td>Code</td>
        <td>@Html.TextBoxFor(m => m.putaID, new { @class = "form-control", @readonly = "readonly" })</td>
        <td>Nombre</td>
        <td>@puta.getNames()</td>
    </tr>
    <tr>
        <td>Estado actual:</td>
        <td>
            @if (putas == 4)
            {
                @Html.RadioButtonFor(m => m.putoEstado, 4,new { @checked="checked" })@: Bien<br />
                @Html.RadioButtonFor(m => m.putoEstado, 3)@: Moderado<br />
                @Html.RadioButtonFor(m => m.putoEstado, 2)@: Regular<br />
                @Html.RadioButtonFor(m => m.putoEstado, 1,new { id="critical" })@: Critico
            }
            else if (putas == 3)
            {
                @Html.RadioButtonFor(m => m.putoEstado, 4,new { @disabled="disabled" })@: Bien<br />
                @Html.RadioButtonFor(m => m.putoEstado, 3,new { @checked="checked" })@: Moderado<br />
                @Html.RadioButtonFor(m => m.putoEstado, 2)@: Regular<br />
                @Html.RadioButtonFor(m => m.putoEstado, 1,new { id="critical" })@: Critico
            }
            else if (putas == 2)
            {
                @Html.RadioButtonFor(m => m.putoEstado, 4, new { @disabled = "disabled" })@: Bien<br />
                @Html.RadioButtonFor(m => m.putoEstado, 3, new { @disabled = "disabled" })@: Moderado<br />
                @Html.RadioButtonFor(m => m.putoEstado, 2,new { @checked="checked" })@: Regular<br />
                @Html.RadioButtonFor(m => m.putoEstado, 1,new { id="critical" })@: Critico
            }
            else if (putas == 1)
            {
                @Html.RadioButtonFor(m => m.putoEstado, 4, new { @disabled = "disabled" })@: Bien<br />
                @Html.RadioButtonFor(m => m.putoEstado, 3, new { @disabled = "disabled" })@: Moderado<br />
                @Html.RadioButtonFor(m => m.putoEstado, 2,new { @disabled="disabled" })@: Regular<br />
                @Html.RadioButtonFor(m => m.putoEstado, 1,new { @checked="checked",id="critical" })@: Critico
            }
        </td>
    </tr>
    <tr>
        <td></td>
        <td>@if (expired || putas == 1) {
        @Html.CheckBoxFor(m => m.publicarEstado, new { id = "sendalert" })
        }
        else
        {  @Html.CheckBoxFor(m => m.publicarEstado, new { id = "sendalert",@disabled="disabled" }) } Enviar aviso personal en la alerta</td>
    <td></td>
        <td></td>
    </tr>
    <tr id="customID" style="display: none;">
        <td></td>
        <td>@Html.TextAreaFor(m => m.razon,new { @class="form-control",@maxlength=100,@placeholder="Opinion personal..." })
        @Html.CheckBoxFor(m => m.publicarEmail) Replicar datos por correo personal (Opcional)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Aplicar solicitud" class="btn btn-warning"/></td>
    </tr>
    }
</table>

