﻿@if (Convert.ToBoolean(Request["close"]))
{
    <script type="text/javascript">window.close();</script>
}
<div class="jumbotron">
    <h2>
        Bienvenido @try
        { @Session["usw"].ToString().ToUpper() }
        catch (Exception) { Response.Redirect("/Login"); }
    </h2>
    <em class="lead" style="font-size: 13px;">Para comenzar haga clic en una de las opciones disponibles, para consultar la guia de ayuda rapida haga clic en Ayuda</em>
    <div class="row">
        <div class="col-md-4">
            <table>
                <tr>
                    <td><img src="~/Image/barcode.png" height="80" /></td>
                    <td><p>@Html.ActionLink("Nuevo Recurso", "New_code", "CodeGex", null, new { @class = "btn btn-info",id="permission" })</p></td>
                </tr>
                <tr>
                    <td><img src="~/Image/enter.png" height="80" /></td>
                    <td><p><a href="#" class="btn btn-default" data-toggle="modal" data-target="#manageElement" id="inKit">Gestionar Recurso</a></p></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table>
                <tr>
                    <td><img src="~/Image/report.png" height="80" /></td>
                    <td><p>@Html.ActionLink("Seguimiento de Actividades", "", "ReportStats", null, new { @class = "btn btn-default",id= "permission1" })</p></td>
                </tr>
                <tr>
                    <td><img src="~/Image/recover.png" height="80" /></td>
                    <td><p>@Html.ActionLink("Recuperacion de cuentas", "Recovery_setup", "Home", null, new { @class = "btn btn-default",id= "permission2" })</p></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table>
                <tr>
                    <td><img src="~/Image/key.png" height="80" /></td>
                    <td><p><a href="#" class="btn btn-default" data-toggle="modal" data-target="#change_pass" id="changepass">Cambiar Contraseña</a></p></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="manageElement" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><img src="~/Image/enter.png" height="30" />&nbsp;Gestionar entrega o devolucion de Kits</h4>
            </div>
            <div class="modal-body" id="step1">
                <p>Por favor seleccione su categoria</p>
                <div class="row">
                    <div class="col-md-4" style="text-align: center; align-items: center;">
                        <img src="~/Image/boxm.png" style="position: center;" height="120" />
                        @Html.ActionLink("Solicitar Entrega", "init_input", "CodeGex", null, new { @class = "btn btn-default" })
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <img src="~/Image/boxm.png" height="120" style="position: center;" />
                        @Html.ActionLink("Solicitar Devolucion", "init_output", "CodeGex", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div id="change_pass" class="modal fade" role="dialog">
    @RenderPage("~/Views/_ToolPswSetup.cshtml");
</div>