﻿
<div class="jumbotron">
    <h3>Actividades y Stock</h3>
    <div class="row">
        <div class="col-md-7">
            <table>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-5">
            <p class="smText">Estado de Stock</p>
            <table>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <p class="smText">Productos en Stock: </p>
            <p class="smText">Productos en buen estado: </p>
            @Html.ActionLink("Guardar una copia","ReportStats","LocalSave",null,new { @class="btn btn-default" })
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/tabcommand")