﻿@using SubITS.Models.Datos
@using System.Data
@{ Layout = "~/Views/Shared/_TableLayout.cshtml"; Loaded nooo = new Loaded(); }
<label id="loaderSystem" class="alert alert-warning" style="display:none;">LOADING ALERT MODULE...</label>
<script type="text/javascript">
    var time = setInterval(function () { location.reload(true); },10000);
</script>
@try
{
    if (nooo.cargarAlerta().Rows.Count > 0)
    {
<table>
    <tr>
        <td class="redTbody">#ID</td>
        <td class="redTbody">Producto Afectado</td>
        <td class="redTbody">Alerta</td>
        <td class="redTbody">Gravedad</td>
        <td class="redTbody">Estado</td>
        <td class="redTbody">Antiguedad</td>
    </tr>
    @{  Byte tula = 0;}
    @foreach (DataRow fot in nooo.cargarAlerta().Rows)
    {
    <tr>
        @for (int cl = 0; cl < nooo.cargarAlerta().Columns.Count; cl++)
        {
            String pu = "repo" + tula;
            String su = "dedo" + tula;
            String du = "pico" + tula;
            <td class="redTcontent">@if (cl == 0)
            {<input type="radio" name="rectoAnal" id="@pu" value="@fot[cl]"/>@:&nbsp;
            }
            @if (cl < 6) {
                @fot[cl]
            }else
            {
                <input type="text" style="display:none;" id="@su" value="@fot[6]"/>
                <input type="text" style="display:none;" id="@du" value="@fot[7]" />
            }
            </td>
        }
    </tr>
                tula++;
            }
</table>
    <br/>
    <center>
        @Html.ActionLink("<< Back", "DownPage", "ReportStats", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Next >>", "UpPage", "ReportStats", null, new { @class = "btn btn-default" })
    </center>
    }else
    {
        <p class="alert alert-warning smText">No hay alertas que mostrar</p>
    }
}
catch (NullReferenceException)
{
    @:<script type="text/javascript">$("#loaderSystem").html("Not alerts as found!");</script>
}
