﻿<div class="jumbotron">
    <div class="alert alert-danger">
        <h2>Elemento no se encuentra en el sistema</h2>
        <p class="smText">La ruta especificada no existe o no es accesible para el publico</p>
        <hr/>
        @if (Session["usw"]==null) {@Html.ActionLink("Volver a inicio", "", "Login", null, new { @class = "btn btn-default",@style="position:center;" })}
    </div>
</div>
