﻿@{ Layout = "~/Views/Shared/_TableLayout.cshtml"; }
@using SubITS.Models
@model UpdateData
    @{var listItems = new List<SelectListItem>
        ()
    {
    new SelectListItem {Text = "Computador Portatil",   Value = "0"},
    new SelectListItem {Text = "Cables", Value = "1"},
    new SelectListItem {Text = "Proyector", Value = "2"},
    new SelectListItem {Text = "Adaptador", Value = "3"}
    }; }
    <div class="jumbotron">
        <h3>Editar Elemento</h3>
        <div class="row">
            <div class="col-md-8">
                @using (Html.BeginForm("Edit", "CodeGex", FormMethod.Post))
            {
                    <table align="center" style="font-size:12px;">
                        <tr>
                            <td>Codigo Principal</td>
                            <td>@Html.TextBoxFor(z => z.codigo, new { @class = "form-control", @readonly = "readonly" })</td>
                        </tr>
                        <tr>
                            <td>Producto:</td>
                            <td>@Html.TextBoxFor(z => z.producto, new { @class = "form-control", @placeholder = "Producto", @maxlength = 50,id="productos" })</td>
                            <td>SKU:</td>
                            <td>@Html.TextBoxFor(z => z.SKU, new { @class = "form-control", @placeholder = "SKU number", @maxlength = 9,id="skus" })</td>
                        </tr>
                        <tr>
                            <td>Tipo Kit:</td>
                            <td>@Html.DropDownListFor(z => z.tipoKit, listItems,string.Empty, new { @class= "form-control chosen" })</td>
                            <td>Ultima Revision:</td>
                            <td>@Html.TextBoxFor(z => z.time, new { @class = "form-control", @readonly = "readonly" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.CheckBoxFor(z => z.active) Almacenado en bodega</td>
                        </tr>
                    </table>
                    <div style="text-align: center;">
                    <input type="submit" value="Actualizar Kit" class="btn btn-success" disabled="disabled" id="updateBtn" /> <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delID">Eliminar Kit</a>
                    </div>
                }
            </div>
            <div class="col-md-4">
                <p>Al aplicar algunos cambios es posible que se registre tu informacion actual de la sesion</p>
            </div>
        </div>
    </div>
    <div id="delID" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar elemento seleccionado</h4>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro que quieres eliminar este elemento?, esta accion no se puede deshacer.</p>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Remove", "CodeGex", FormMethod.Post))
                    {
                        @Html.TextBoxFor(m => m.codigo, new { @style= "display: none;" })
                        <input type="submit" value="Si" class="btn btn-danger" /> <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    }
                </div>
            </div>
        </div>
    </div>
