﻿@using System.Data;
@using SubITS.Models;
@{Data_Reports noms = new Data_Reports();}

<div class="jumbotron">
    <div style="text-align: center;">
        <a href="#" class="btn btn-default disabled" id="loadActive">Entregas</a>
        <a href="#" class="btn btn-default" id="loadArchived">Devoluciones</a>
        <a href="#" class="btn btn-default" id="loadResources">Recursos</a>
        @Html.ActionLink("Actualizar", "ActualizarData", "CodeGex", null, new { @class="btn btn-success",id="updateGota" })
        <a href="#" class="btn btn-info" id="sys" data-toggle="modal" data-target="#saveSys"><img src="~/Image/edit.png" height="10"/> Guardar reporte</a>
    </div>
    <div class="row">
        <div class="col-md-10" id="resource1">
            <h3>Registro Actual de entregas</h3>
@if (noms.loadOffline_Entrega().Rows.Count > 0)
{
            <table align="center" style="background-color: rgb(207, 207, 207); font-size: 12px;">
                <tr style="font-size: 14px; text-align: center; color: white; background: rgba(246,41,12,1); background: -moz-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,41,12,1)), color-stop(27%, rgba(246,41,12,1)), color-stop(73%, rgba(240,47,23,1)), color-stop(75%, rgba(241,111,92,1)), color-stop(99%, rgba(248,80,50,1)), color-stop(100%, rgba(231,56,39,1))); background: -webkit-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: -o-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: -ms-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: linear-gradient(to bottom, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#e73827', GradientType=0 ); ">
                    <td><strong>Nombre del usuario</strong></td>
                    <td><strong>Producto Entregado</strong></td>
                    <td><strong>Fecha entregado</strong></td>
                    <td><strong>Fecha devolucion</strong></td>
                    <td><strong>Responsable</strong></td>
                    <td></td>
                </tr>
                    @foreach (DataRow townsend in noms.loadOffline_Entrega().Rows)
                    {
                        String person = townsend[0].ToString();
                <tr>                     
                        <td>@person</td>
                        <td>@townsend[1]</td>
                        <td>@townsend[2]</td>
                        <td>@townsend[3]</td>
                        <td>@townsend[4]</td>
                        <td>
                            @if (!Convert.ToBoolean(townsend[5]))
                            {
                                @Html.ActionLink("Entregar","SetOnReady","CodeGex",new { idt=person },new { @class="btn btn-default" });
                            }
                            else
                            {
                                @Html.ActionLink("Entregar", "SetOnReady", "CodeGex", null, new { @class = "btn btn-default",@disabled="disabled" });
                            }
                        </td>
                </tr>
                    }
            </table>
}
else
{
    <div class="alert alert-warning">
        <table>
            <tr>
                <td><img src="~/Image/block.png" height="60" /></td>
                <td><p>No hay ninguna entrega realizada por el momento, todas las entregas se registraran en esta seccion</p></td>
            </tr>
        </table>
    </div>
}
            
        </div>
        <div class="col-md-10" id="resource3" style="display: none;">
            <h3>Registro actual de devoluciones</h3>
            @if (noms.loadOffline_Devolucion() != null)
            {
                <table align="center" style="background-color: rgb(207, 207, 207); font-size: 12px;">
                    <tr style="font-size: 14px; text-align: center; color: white; background: rgba(246,41,12,1); background: -moz-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,41,12,1)), color-stop(27%, rgba(246,41,12,1)), color-stop(73%, rgba(240,47,23,1)), color-stop(75%, rgba(241,111,92,1)), color-stop(99%, rgba(248,80,50,1)), color-stop(100%, rgba(231,56,39,1))); background: -webkit-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: -o-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: -ms-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: linear-gradient(to bottom, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#e73827', GradientType=0 ); ">
                        <td><strong>#ID</strong></td>
                        <td><strong>Producto devuelto</strong></td>
                        <td><strong>Fecha</strong></td>
                        <td><strong>Nombre Solicitante</strong></td>
                        <td><strong>Usuario Responsable</strong></td>
                    </tr>
                    @foreach (DataRow puntero in noms.loadOffline_Devolucion().Rows)
                    {
                        <tr>
                            <td>@puntero[0]</td>
                            <td>@puntero[1]</td>
                            <td>@puntero[2]</td>
                            <td>@puntero[3]</td>
                            <td>@puntero[4]</td>
                        </tr>
                    }
                </table>
            }
            else
            {
            <table class="alert alert-warning">
                <tr>
                    <td><img src="~/Image/block.png" height="60" /></td>
                    <td><p>No hay ninguna devolucion realizada por el momento, todas las devoluciones se registraran en esta seccion</p></td>
                </tr>
            </table>
            }
        </div>
        <div class="col-md-10" id="resource2" style="display: none;">
            <h3>Registro de Activos</h3>
            @if (noms.loadOffline_Resources().Rows.Count > 0) {
            <table align="center" style="background-color: rgb(207, 207, 207); font-size: 12px;">
                <tr style="font-size: 14px; text-align: center; color: white; background: rgba(246,41,12,1); background: -moz-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,41,12,1)), color-stop(27%, rgba(246,41,12,1)), color-stop(73%, rgba(240,47,23,1)), color-stop(75%, rgba(241,111,92,1)), color-stop(99%, rgba(248,80,50,1)), color-stop(100%, rgba(231,56,39,1))); background: -webkit-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: -o-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: -ms-linear-gradient(top, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); background: linear-gradient(to bottom, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 27%, rgba(240,47,23,1) 73%, rgba(241,111,92,1) 75%, rgba(248,80,50,1) 99%, rgba(231,56,39,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#e73827', GradientType=0 );">
                    <td><strong>CODEID</strong></td>
                    <td><strong>Tipo</strong></td>
                    <td><strong>Kit</strong></td>
                    <td><strong>Producto</strong></td>
                    <td><strong>SKU</strong></td>
                    <td><strong>Fecha registrado</strong></td>
                    <td><strong>Responsable</strong></td>
                    <td><strong>Estado</strong></td>
                </tr>
                @foreach (DataRow apesta in noms.loadOffline_Resources().Rows) {
        <tr class="@apesta[8]">
            @{int code = int.Parse(apesta[0].ToString());
                String varz = "/SubITS/Image/codes/" + code + ".png"; String tpe = apesta[1].ToString().Trim(); bool active = false;}
                @if (File.Exists(Server.MapPath("~/Image/codes/" + code + ".png")))
                {
                    <td><img src="@varz" height="80" width="120" /></td>
                }else
                {
                    <td>@Html.ActionLink("Recover code!", "regen", "CodeGex", new { a = code,t=tpe },new { @class="btn btn-default",id="cover" })</td>
                }
            <td>@tpe</td>
            <td>@apesta[2]</td>
            <td>@apesta[3]</td>
            <td>@apesta[4]</td>
            <td>@apesta[5]</td>
            <td>@apesta[6]</td>
            <td style="position: center;">@if (apesta[7].ToString().Trim().ToLower().Equals("activo"))
            { active = true;<center><img src="~/Image/status/using.png" height="20" title="ACTIVO"/></center> }
            else
            { <center><img src="~/Image/status/nonusing.png" height="20" title="EN BODEGA" /></center> }</td>
                <td>@Html.ActionLink("Editar", "Edit", "CodeGex", new { ins = code }, new { @class = "btn btn-success", @target = " popup ", @onClick = "window.open(this.href, this.target, 'width= 350 ,height= 420 '); return false;" })
            @Html.ActionLink(active?"Inhabilitar":"Habilitar","Gone_setup","CodeGex",new { on=code },new { @class="btn btn-default" })</td>
        </tr>}
            </table>
                }
                else
                {
                    <div class="alert alert-warning">
                        <table align="center">
                            <tr>
                                <td><img src="~/Image/block.png" height="60" /></td>
                                <td><p>No hay elementos que mostrar, si eres el administrador de este sistema por favor ingrese un nuevo elemento en la seccion 'Nuevo Recurso'</p></td>
                            </tr>
                        </table>
                    </div>
                }
        </div>
    </div>
    <div style="text-align: center;">
        @if (Request["goDown"] != null) {
            @Html.ActionLink("< Atras", "Down", "CodeGex", null, new { @class = "btn btn-default" })
        }
        @if (Request["goUp"] != null)
        {
            @Html.ActionLink("Siguiente >", "Up", "CodeGex", null, new { @class = "btn btn-default" })
        }
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="~/Image/barcode.png" height="80" />
        @Html.ActionLink("Nuevo Recurso", "New_code", "CodeGex", null, new { @class = "btn btn-info",id="permission" })
    </div>
    <div class="col-md-4">
        <img src="~/Image/enter.png" height="80" />
        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#manageElement" id="inKit">Gestionar Recurso</a>
    </div>
    <div class="col-md-4">
        <img src="~/Image/key.png" height="80" />
        <a href="#" class="btn btn-default" data-toggle="modal" data-target="#change_pass" id="changepass">Cambiar Contraseña</a>
    </div>
</div>
<div id="saveSys" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><img src="~/Image/edit.png" height="20"/> Guardar reporte <label id="command"></label></h4>
            </div>
            @using (Html.BeginForm("SavingFile", "CodeGex", FormMethod.Post)) {
            @Scripts.Render("~/bundles/saveFile")
            <div class="modal-body">
                <p class="alert alert-danger" id="msgalert" style="display:none;"></p>
                <table class="nonText">
                    <tr>
                        <td>(*)Nombre:</td>
                        <td>@Html.TextBox("NameFile", null, new { @class = "form-control", @maxlength = 30, @placeholder = "Filename", id = "namefile" })</td>
                    </tr>
                    <tr>
                        <td>Seleccionar periodo:</td>
                        <td><select name="filtroperiodo" class="form-control">
                            <optgroup label="Select date to save">
                                @if (noms.fechasDeMierda() != null)
                                {
                                    foreach (DataRow farm in noms.fechasDeMierda().Rows)
                                    {
                                        String valores = farm[0].ToString();
                                        String option = null;
                                        Byte months = Byte.Parse(valores.Substring(5));
                                        switch (months)
                                        {
                                            case 1:option = "ENERO";
                                                break;
                                            case 2:
                                                option = "FEBRERO";
                                                break;
                                            case 3:
                                                option = "MARZO";
                                                break;
                                            case 4:
                                                option = "ABRIL";
                                                break;
                                            case 5:
                                                option = "MAYO";
                                                break;
                                            case 6:
                                                option = "JUNIO";
                                                break;
                                            case 7:
                                                option = "JULIO";
                                                break;
                                            case 8:
                                                option = "AGOSTO";
                                                break;
                                            case 9:
                                                option = "SEPTIEMBRE";
                                                break;
                                            case 10:
                                                option = "OCTUBRE";
                                                break;
                                            case 11:
                                                option = "NOVIEMBRE";
                                                break;
                                            case 12:
                                                option = "DICIEMBRE";
                                                break;
                                        }
                                        <option value="@valores">@option @valores.Substring(0, 4)</option>
                                    }
                                }
                                else {
                                    <option>No Records!</option>
                                }
                            </optgroup>
                            </select></td>
                    </tr>
                    <tr>
                        <td>Informe a guardar:</td>
                        <td>@if (noms.loadOffline_Entrega() != null)
                        {
                            @:<input type="checkbox" name="Entrega" id="opt1" value="true" /> Registro de Entrega<br/>
                        }else
                        {
                            @:<input type="checkbox" name="Entrega" id="opt1" value="true" disabled="disabled" /> Registro de Entrega<br />
                        }
                        @if (noms.loadOffline_Devolucion()!=null) {
                            @:<input type="checkbox" name="Devolucion" id="opt2" value="true" /> Registro de Devolucion<br/>
                        }
                        else
                        {
                            @:<input type="checkbox" name="Devolucion" id="opt2" value="true" disabled="disabled" /> Registro de Devolucion<br />
                        }
                        @if (noms.loadOffline_Resources() != null)
                        {
                            @:<input type="checkbox" name="Stock" id="opt3" value="true" /> Registro de Stock activo
                        }
                        else
                        {
                            @:<input type="checkbox" name="Stock" id="opt3" value="true" disabled="disabled" /> Registro de Stock activo
                        }
                        </td>
                    </tr>
                    <tr>
                        <td>Observacion:</td>
                        <td><input type="checkbox" name="OpinonTrue" id="enableText" value="true" /> Añadir observacion en el documento</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.TextArea("OpinonText",null,new { @class="form-control",@maxlength=300, @disabled = "disabled",id="obText",@placeholder="Tu observacion aqui..." })</td>
                    </tr>
                    <tr>
                        <td>Fuente:</td>
                        <td>
                            <select name="fontype" class="form-control">
                                <optgroup label="Select font">
                                    <option value="arial">Arial</option>
                                    <option value="calibri">Calibri</option>
                                    <option value="times new roman">Times New Roman</option>
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Formato:</td>
                        <td><img src="~/Image/pdf.png" height="23" id="imafile" />
                        <select name="format" id="formatfile">
                            <optgroup label="Select format">
                                <option value="false">Documento formal PDF (.pdf)</option>
                                <option value="true">Hoja de calculo en excel (.xlsx)</option>
                            </optgroup>
                            </select></td>
                    </tr>
                </table>
                <p class="alert alert-warning smText">El documento original sera guardado a nombre de <strong>@Session["usw"]</strong>, cualquier divulgacion o publicacion sin autorizacion del mismo usted sera sancionado bajo la ley de delito informatico (18.223)</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="savestate" disabled="disabled">Guardar una copia</button>
                <button type="button" data-dismiss="modal" class="btn btn-default" id="stopstate">Cancelar</button>
            </div>
            }
        </div>
    </div>
</div>
<div id="manageElement" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><img src="~/Image/enter.png" height="30" />&nbsp;Gestionar entrega o devolucion de Kits</h4>
            </div>
            <div class="modal-body" id="step1">
                <p>Por favor seleccione su categoria</p>
                <div class="row">
                    <div class="col-md-4" style="text-align: center; align-items: center;">
                        <img src="~/Image/boxm.png" height="120"/>
                        @Html.ActionLink("Solicitar Entrega", "init_input", "CodeGex", null, new { @class = "btn btn-default" })
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <img src="~/Image/boxm.png" height="120"/>
                        @Html.ActionLink("Solicitar Devolucion", "init_output", "CodeGex", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div id="change_pass" class="modal fade" role="dialog">
    @RenderPage("~/Views/_ToolPswSetup.cshtml");
</div>