﻿@model SubITS.Models.NuevoM.Generate_Code

<div class="jumbotron">
    <div class="row">
        <p>Por favor ingrese el material asignado bajo su responsabilidad, rellenando el siguiente formulario a continuacion</p>
        <p style="font-size: 13px;">Si por alguna razon no actualiza la informacion del <strong>codigo de muestra</strong> a continuacion actualize la pagina [F5]</p>
        <div class="col-md-8" style="background-color: white;">
            @using (Html.BeginForm("newRegistry", "CodeGex", FormMethod.Post)) { 
            <table align="center" style="font-size: 12px;">
                <tr>
                    <td>Codigo:</td>
                    <td>@Html.TextBoxFor(model => model.codigoID, null, new { @class = "form-control",@title="Ingrese un codigo o genere uno aleatorio", @placeholder = "Code Number", id = "codeHost",@maxlength=13 })</td>
                </tr>
                <tr>
                    <td>Tipo de Codigo:</td>
                    <td>
                        <select name="type" id="typeHost" class="form-control">
                            <optgroup label="Barcode Avaitable">
                                <option value="Code128">Code128</option>
                                <option value="Pdf417">Pdf417</option>
                                <option value="Codabar">Codabar</option>
                                <option value="QRCode">Codigo QR</option>
                                <option value="RSS14">Codigo RSS</option>
                                <option value="USPS">Codigo USPS</option>
                                <option value="EAN128">EAN128</option>
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Nombre del Producto:</td>
                    <td>@Html.TextBoxFor(model => model.nameID, null, new { @class = "form-control", @placeholder = "Product Name", id = "nameProc", @maxlength = 50 })</td>
                </tr>
                <tr>
                    <td>Modelo SKU:</td>
                    <td>@Html.TextBoxFor(model => model.skuID, null, new { @class = "form-control", @placeholder = "SKU Code", id = "SKUProc", @maxlength = 10 })</td>
                </tr>
                <tr>
                    <td>Tipo de Kit:</td>
                    <td>
                        <select name="typeP" id="typeProc" class="form-control">
                            <optgroup label="Select Product Type">
                                <option value="0">Computador Portatil [Notebook]</option>
                                <option value="1">Cables</option>
                                <option value="2">Proyectores [Data]</option>
                                <option value="3">Adaptadores</option>
                            </optgroup>
                        </select>
                    </td>
                    <td></td>
                    <td><div class="checkbox" style="font-size: 10px;">@Html.CheckBoxFor(s => s.bodegas) Recurso almacenado en Bodega</div></td>
                </tr>
            </table>
                @Html.CheckBoxFor(k => k.setTextBorder, new { @value=true,@style="display: none;",id="gText" })
            <br/>
            <div style="text-align: right;">
                <input type="submit" value="Crear Recurso" class="btn btn-success" disabled="disabled" id="saveReg" />
                <a href="#" id="goback" class="btn btn-default">Cancelar</a>
            </div>
            }
        </div>
        @using (Html.BeginForm("New_code", "CodeGex", FormMethod.Post)) { 
        <div class="col-md-4">
            <div class="checkbox" style="font-size: 10px"><input type="checkbox" value="true" id="randomCode"/> Generar Codigo aleatorio</div>
            <div class="checkbox" style="font-size: 10px">@Html.CheckBoxFor(z => z.setTextBorder,new{ @value=true,id="gSample" }) Insertar texto sobre el codigo de barras</div>
            @Html.TextBoxFor(model => model.codigoID, null, new { @style="display: none;",@readOnly=true,id="codeSample" })
            @Html.TextBoxFor(model => model.nameID, null, new { @style = "display: none;", @readOnly = true,id="typeSample" })
            <input type="submit" value="Generar Muestra" class="btn btn-success" disabled="disabled" id="getSampler" />
            <hr />
            @if (File.Exists(Server.MapPath("~/Image/codes/tempcode.png"))) {
            <img src="~/Image/codes/tempcode.png" height="120" title="Codigo de Muestra" style="border-style: solid;"/>
            }else
            {
                <p class="alert alert-info smText">En este cuadro aparecera la muestra preliminar del codigo</p>
            }
        </div>
        }
    </div>
</div>