﻿@using System.Data
@using SubITS.Models
@model Devo_Reports
@{Devo_Reports plebicitos = new Devo_Reports();}
<div class="jumbotron">
    <h3>Gestionar Devolucion de KIT</h3>
    <div class="row">
        <div class="col-sm-4" style="background-color: lightsalmon">
            @using (Html.BeginForm("Resource_output","CodeGex",FormMethod.Post))
            {
                <div style="font-size:13px;">
                    Ingreso Manual
                    <table>
                        <tr>
                            <td>Codigo</td>
                            <td>@Html.TextBoxFor(mod => mod.putaID,new { @class="form-control",@maxlength=16,id="sysID" })</td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Buscar" id="scanManual" class="btn btn-info" disabled="disabled"/></td>
                            <td></td>
                        </tr>
                    </table>
                    <hr/>
                    @Html.ActionLink("Reestablecer","init_output","CodeGex",null,new { @class="btn btn-default" })
                </div>
            }
        </div>
        <div class="col-md-8">
            @if (plebicitos.getNames() != null)
            {
            <h3>Datos de la persona</h3>
            <table style="font-size: 12px;">
                <tr>
                    <td>Nombre Completo:</td>
                    <td>@plebicitos.getNames()</td>
                    <td>Tipo:</td>
                    <td>@plebicitos.getRole()</td>
                </tr>
            </table>

            <h3>Producto a devolver</h3>
            <table style="font-size: 12px;">
                @if (plebicitos.getCapturaID().Rows.Count>=1) {
                    <tr style="background-color: rgb(91, 91, 91); color:white;">
                        <td>Codigo</td>
                        <td>Producto</td>
                        <td>Expira en</td>
                        <td>Acciones</td>
                    </tr>
                    foreach (DataRow rop in plebicitos.getCapturaID().Rows) {
                        int code = Convert.ToInt32(rop[0]);
                        int expire = Convert.ToInt32(rop[2]);
                        String dates = (expire >= 0 ? expire+" dia/s":"Expiro hace "+(-expire)+" dias");
                        bool bipo = Convert.ToBoolean(rop[3]);
                    <tr style="background-color:white;">
                        <td>#@code</td>
                        <td>@rop[1]</td>
                        <td>@dates</td>
                        <td>
                            @if (bipo)
                            {
                                @Html.ActionLink("Devolucion","devto","",new { co=code,st=rop[4],ex=(expire>=0 ? null:"true") },new { @class="btn btn-warning", @target = " popup ", @onClick = "window.open(this.href, this.target, 'width= 600 ,height= 420 '); return false;" })
                            }else
                            {
                                <a href="#" class="btn btn-warning disabled"><label title="REASON: El kit aun no ha sido entregado para ejecutar esta accion">Devolucion</label></a>
                            }
                        </td>
                    </tr>
                    }
                }
            </table>
            }
            else
            {
                <div class="alert alert-warning">
                    <table align="center">
                        <tr>
                            <td><img src="~/Image/status/icon2.png" height="26"/></td>
                            <td><p class="smText">Estimado, debe ingresar el siguiente codigo para proceder una devolucion</p></td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

