﻿@using SubITS.Models
@using System.Data
@model Data_Reports
@{ Data_Reports sp = new Data_Reports(); }

<script type="text/javascript">
    var canales = new Array(@sp.loadingRecursos().Rows.Count);
    var apelio = new Array(@sp.loadingRecursos().Rows.Count);
    var tipos = new Array(@sp.loadingRecursos().Rows.Count);
    @{byte num = 0;}
    @foreach (DataRow pipa in sp.loadingRecursos().Rows)
    {
        @:canales[@num] = "@pipa[1]";
        @:apelio[@num] = "@pipa[2]";
        @:tipos[@num] = "@pipa[3]";
        num++;
    }
</script>
<div class="jumbotron">
    <div class="row">
        <h3>Gestionar Entrega del KIT</h3>
        <div class="col-sm-4" style="background-color: lightsteelblue;">
            @using (Html.BeginForm("Resource_input", "CodeGex", FormMethod.Post))
            {
                <div style="font-size: 12px;">
                    Ingresar Manualmente
                    @Html.TextBoxFor(m => m.IDS, new { @class="form-control",@maxlength=13,id="sysID" })
                    <input type="submit" value="Agregar" class="btn btn-info" id="scanManual" disabled="disabled" />
                </div>
            }
            <hr />
            @Html.ActionLink("Borrar seleccion", "init_input", "CodeGex", null, new { @class = "btn btn-default" })
            <div class="alert alert-info"><p class="smText">Utilize la aplicacion movil para escanear el codigo de forma automatizada y rapida</p></div>
        </div>
        <div class="col-md-8">
            @if (sp.loadSelectedKit().Rows.Count > 0)
            {
            using (Html.BeginForm("Set_input", "CodeGex", FormMethod.Post))
            {
            <label style="font-size: 14px;"></label>
            <table style="font-size: 12px;" align="center">
                <tr>
                    <td style="padding-right: 10px;" id="codes">Kit List:</td>
                    <td><select class="form-control chosen chosen-select-deselect" name="locks" id="identy" multiple="multiple">
                        @try
                        {
                            foreach (DataRow rp in sp.loadSelectedKit().Rows)
                            {
                        <option value="@rp[0]">@rp[1]</option>
                            }
                        }
                        catch (NullReferenceException)
                        {
                            Response.Redirect("/CodeGex/init_input");
                        }
                        </select></td>
                </tr>
                <tr>
                    <td>(*) Nombre:</td>
                    <td>@Html.TextBoxFor(model => model.responsable, null, new { @class = "form-control", @maxlength = 60, @placeholder = "Nombre", id = "repoName" })
                        <div style="background-color: white; height: 30px; width: 200px; display: none;" id="searcher"><a href="#" id="founded" class="killme"></a></div></td>
                    <td><input type="button" value="Cargar" disabled="disabled" id="quickSearch" class="btn btn-default"/></td>
                </tr>
                <tr>
                    <td>Apellido:</td>
                    <td>@Html.TextBoxFor(model => model.apellido, null, new { @class = "form-control", @placeholder = "Apellido", id = "repoApe", @maxlength = 60 })
                    </td>
                    <td id="updateTp" style="display: none;">@Html.CheckBoxFor(model => model.actualizarApellido,new { id="updateField" }) Actualizar datos<label title="Permite actualizar los datos restantes, sin embargo esto no cambiara el nombre principal">[!]</label></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.RadioButtonFor(model => model.personMode, false, new { @checked = "checked",id="alu" }) Alumno
                        @Html.RadioButtonFor(model => model.personMode, true,new { id="doc" }) Docente
                    </td>
                </tr>
                <tr>
                    <td>Duracion</td>
                    <td>@Html.RadioButtonFor(model => model.durationMode, false, new { id = "modonormal", @checked = "checked" }) Normal
                    @Html.RadioButtonFor(model => model.durationMode, true, new { id = "modospecific" }) Especifico</td>
                </tr>
                <tr>
                    <td></td>
                    <td><select class="form-control chosen" name="duration" id="automes">
                            <optgroup label="Select">
                            <option value="0">Ultimas 12 horas</option>
                            <option value="1">1 semana</option>
                            <option value="2">2 semanas</option>
                            <option value="3">3 semanas</option>
                            <option value="5">1 mes</option>
                            </optgroup>
                        </select>
                    @Html.TextBoxFor(model => model.dayofweek, new { @class = "form-control", id = "manualmes", @style = "display:none;", @maxlength = 5, @placeholder = "MM-DD" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.CheckBoxFor(model => model.inmediate) Entrega inmediata<label title="Si el kit es entregado de forma inmediata debe marca esta casilla, de lo contrario sera reservada para la persona que lo solicita">[?]</label></td>
                </tr>
            </table>
            <input type="submit" value="Aplicar entrega" disabled="disabled" class="btn btn-success" id="GOinput"/>
            <input type="reset" value="Borrar" class="btn btn-default"/>
                }
            }else
            {
                <table class="alert alert-warning">
                    <tr>
                        <td><img src="~/Image/status/icon2.png" height="50"/></td>
                        <td><p class="smText">Para comenzar necesita establecer al menos un codigo del producto para procesar la solicitud</p></td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>

